.btn {
  position: absolute;
  font-size: 30px;
  background-color: #ffa726; /* Laranja suave */
  color: white; /* Seta branca */
  border: none;
  border-radius: 12px; /* Bordas arredondadas */
  padding: 10px 20px;
  cursor: pointer;
  z-index: 999;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra leve */
  transition: transform 0.1s ease, background-color 0.2s ease;
}

.btn:hover {
  background-color: #fb8c00; /* Laranja um pouco mais escuro no hover */
  transform: scale(1.05);
}

#prevBtn {
  left: 10px;
  bottom: 10px;
}

#nextBtn {
  right: 10px;
  bottom: 10px;
}
